header {
    background-color: rgba(62, 195, 224, 1); /* Задаем цвет фона header */
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    justify-content: center; /* Выравнивание по горизонтали */
    height: 292px; /* Задаем высоту header */
}

.container_header {
    background-color: rgba(62, 195, 224, 1); /* Задаем цвет фона div */
    color: white; /* Задаем цвет текста */
    padding: 20px; /* Добавляем отступы */
}

.centered {
    text-align: center; /* Выравнивание текста по центру */
    margin: auto; /* Центрирование блока по горизонтали */
}

.centered h1 {
    font-size: 64px; /* Увеличиваем размер шрифта */
    font-family: "Inter", sans-serif; /* Задаем шрифт "Inter" */
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
}

.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-links li {
  margin-right: 15px;
}

.footer-links li:last-child {
  margin-right: 0;
}

.footer-links a {
  text-decoration: none;
  color: #555555;
}

.footer-links a:hover {
  color: #000000;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.text_about {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  margin-top: 200px;
  text-align: center;
}

.text_about a {
  color: #007bff;
  text-decoration: none;
}

.text_about a:hover {
  text-decoration: underline;
}