<!DOCTYPE html>
<html>
<head>
 <title>OR</title>
</head>
<body>
<header>
  <div class="container_header">
      <div class="centered">
        <h1>OPINION ORACLE</h1>
        <p>We got some text analysis here</p>
      </div>
  </div>
</header>
<div class="1">
    <img src="{{ user_dynamic }}" alt="">
    <img src="{{ user_amount }}" alt="">
</div>
<div class="2">
    <img src="http://127.0.0.1:5000/send-data-c" alt="">
    <img src="http://127.0.0.1:5000/send-data-d" alt="">
</div>
{{ user_amount }}
{{ kp_month }}
{{ kp_week }}

<footer class="footer">
<ul class="footer-links">
  <li><a href="/">Анализ текста</a></li>
  <li><a href="/data">Общие сведения</a></li>
  <li><a href="/about">О проекте</a></li>
</ul>
</footer>
</body>
</html>