<!DOCTYPE html>
<html>
<head>
 <title>OR</title>
 <link rel="stylesheet" href="/static/third.css">
</head>
<body>
<header>
  <div class="container_header">
      <div class="centered">
        <h1>OPINION ORACLE</h1>
        <p>We got some text analysis here</p>
      </div>
  </div>
</header>
<div class="text_about">
    Данный проект представляет из себя веб приложение на основе искуственной нейронной сети сверточной модели.
    <br>
    Модель была обучена на датасете состоящем из ~ 80000 отзывов на русском языке с сайта Кинопоиск.
    <br>
    Данное приложение не является коммерческим.
    <br>
    <a href="https://github.com/Saygone" target="_blank">👾Ссылка на GitHub👾</a>
</div>
<footer class="footer">
<ul class="footer-links">
  <li><a href="/">Анализ текста</a></li>
  <li><a href="/data">Общие сведения</a></li>
  <li><a href="/about">О проекте</a></li>
</ul>
</footer>
</body>
</html>